.wardrobePageContainer {
    display: flex;
    justify-content: center;
}

.wardrobePageInnerContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.wardrobeItemsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}