.newArticlePageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}

.newArticleFormContainer {
    display: flex;
   gap: 25px;
}

.formInputsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 100%;
}

.title {
    font-size: 50px;
    font-weight: 700 !important;
    line-height: 110%;
    letter-spacing: -.6px;
    z-index: 1;
}

.newArticlePicture {
    margin-top: 50px;
    width: 500px;
}

.baseStyle  {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-width: 2;;
    border-radius: 2;
    border-color: #eeeeee;
    border-style: dashed;
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
    transition: border .24s ease-in-out;
  };
 .focusedStyle  {
    border-color: #2196f3;
  };
  
 .acceptStyle  {
    border-color: #00e676;
  };
  
 .rejectStyle  {
    border-color: #ff1744;
  };